.page {
  margin: 0 auto;
  background-color: #eee9e0;
  position: relative;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
}

.page__content {
  padding-bottom: 66px;
}

@media screen and (min-width: 600px) {
  .page__content {
    padding-bottom: 96px;
  }
}
