.header {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
}

@media screen and (min-width: 600px) and (max-width: 880px) {
  .header {
    max-width: 581px;
  }
}

.header__logo {
  width: 24px;
  margin: 10px;
}

.header__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  display: inline-block;
  margin: 15px 0 0;
}

@media screen and (min-width: 600px) {
  .header__logo {
    margin: 18px;
    width: 42px;
    margin: 15px 15px 0 0;
  }

  .header__title {
    font-size: 42px;
    line-height: 1.14;
    display: inline;
    margin-right: 18px;
  }
}
