.footer {
  width: 100%;
  padding: 2em 0 1em;
  text-align: center;
  background-color: #eee9e0;
}

.footer__text {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .footer {
    padding-bottom: 3em 0 1.5em;
  }
  .footer__text {
    font-size: 18px;
    line-height: 1.21;
  }
}
